Repository codecentric/spring-boot-admin, pull requests merged in 2020-06, with the labels that each got.

#1445 Add i18n file of Traditional Chinese
  spring-boot-admin-server-ui/src/main/frontend/i18n/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/i18n/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/i18n/index.js
  spring-boot-admin-server-ui/src/main/frontend/login.i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/login.i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/shell/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/shell/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/about/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/about/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/applications/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/applications/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/auditevents/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/auditevents/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/beans/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/beans/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/caches/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/caches/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/configprops/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/configprops/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/details/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/details/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/env/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/env/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/flyway/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/flyway/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/gateway/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/gateway/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/heapdump/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/heapdump/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/httptrace/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/httptrace/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/jolokia/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/jolokia/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/liquibase/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/liquibase/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/logfile/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/logfile/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/loggers/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/loggers/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/mappings/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/mappings/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/metrics/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/metrics/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/scheduledtasks/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/scheduledtasks/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/sessions/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/sessions/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/shell/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/shell/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/threaddump/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/instances/threaddump/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/journal/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/journal/i18n.zh-TW.json
  spring-boot-admin-server-ui/src/main/frontend/views/wallboard/i18n.zh-CN.json
  spring-boot-admin-server-ui/src/main/frontend/views/wallboard/i18n.zh-TW.json
Labels: enhancement, server-ui

#1453 Upgrade to spring boot 2.3.1
  pom.xml
Labels: enhancement

#1455 Improve the caching of request body when running in reactive mode
  spring-boot-admin-server/src/main/java/de/codecentric/boot/admin/server/web/reactive/InstancesProxyController.java
Labels: enhancement, server
